.background {
    background-color: #191b1a;
}

/* HOME PAGE --------------------------------------------- */

.home-container {
    padding-top: 10%;
}

.page-name {
    color: white;
    text-align: center;
    padding-bottom: 5%;
}

.home-btn {
    border: none;
    background-color: rgb(39, 168, 84);
    color: white;
    font-size: 160%;
    border-radius: 25px;
    padding: 3% 8%;
}
.home-btn:hover, .options-btn:hover, .logout:hover, .add-btn:hover{
    background-color: rgb(30, 215, 96) !important;
}
.home-btn:focus, .home-btn:active{
    outline: none !important;
    box-shadow: none !important;
}

/*---*/
.options-name {
    color: white;
    text-align: center;
    padding-bottom: 2%;
}
.options-container {
    padding-top: 2%;
    text-align: center !important;
}

.options-btn {
    letter-spacing: 5px !important;
    background-color: rgb(39, 168, 84);
    border-color: white !important;
    font-size: 160%;
}
.options-format {
    padding-left: 25%;
    padding-right: 25%;
}

.use {
    color: white;
    font-size: 130%;
}

.written-option {
    margin-top: -5%;
    padding-left: 10%;
    padding-right: 10%;
}

.top {
    position: fixed;
}
.logout {
    float: left;
    background-color: rgb(39, 168, 84);
    border: none;
}
.error {
    color: red;
    text-align: center;
    font-size: 130%;
    margin-top: -6%;
}
/*----------*/

div.bottom {
    position: fixed;
    width: 100%;
    bottom: 2%;
}
img.cover {
    display: none;
    width: 60px;
    height: 60px;
    margin-left: 3%;
}
a.track_link {
    text-decoration: none;
    font-size: 100%;
    color: white;
}
a.track_link:hover {
    text-decoration: underline;         
}
.column {
    width: 50%;
    float: left;
}
.button {
    width: 50px;
    height: 50px;
    margin-top: 2%;
    margin-right: 2%;
}
.button:hover {
    opacity: 0.7;
}

/*----------------------------------------------------*/
.navbar {
    background-color: #191b1a;
    border-bottom: 3px solid white;
}

.added {
    color: rgb(39, 168, 84);
    text-align: center;
    font-size: 130%;
}

.add {
    float: right;
    margin-right: 45%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.add-btn {
    background-color: rgb(39, 168, 84);
    border: none;
}

.list {
    width: 70%;
    margin-left: 5%;
    margin-right: 15%;
    padding-bottom: 2px;
}


