<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Playlist Creator</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body style="text-align: center;font-family: Arial, Helvetica, sans-serif;">
        <h1>Playlist Creator</h1>
        <div class="usage">
            Usage:<br> 
            <ul>
                <li>
                    Enter a playlist size <strong>first</strong>
                </li>
                <li>
                    Choose an option and hit enter after typing
                </li>
            </ul>
        </div>
        <hr>
        <div style="text-align: center;">
            <form action="#" method="post">
                <button class="home_button">Connect With Spotify</button>
            </form>
        </div>
    </body>
</html>